<% breadcrumb :developers %>

<h1><%= Developer.model_name.human.pluralize %></h1>

<table>
  <thead>
    <tr>
      <th><%= Developer.human_attribute_name("company_name") %></th>
      <th><%= Developer.human_attribute_name("head_office_address") %></th>
      <th><%= Developer.human_attribute_name("city") %></th>
      <th><%= Developer.human_attribute_name("county") %></th>
      <th><%= Developer.human_attribute_name("postcode") %></th>
      <th><%= Developer.human_attribute_name("email") %></th>
      <th><%= Developer.human_attribute_name("contact_number") %></th>
      <th colspan="4"><%= t("views.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <%= content_tag(:tr, data_to_delete(developer)) do %>

        <td><%= developer.company_name %></td>
        <td><%= developer.head_office_address %></td>
        <td><%= developer.city %></td>
        <td><%= developer.county %></td>
        <td><%= developer.postcode %></td>
        <td><%= developer.email %></td>
        <td><%= developer.contact_number %></td>
        <td><%= link_to Division.model_name.human.pluralize, developer_divisions_path(developer) %></td>
        <td><%= link_to Development.model_name.human.pluralize, developer_developments_path(developer) %></td>
        <td><%= link_to t("views.show"), developer %></td>
        <td><%= link_to t("views.edit"), edit_developer_path(developer) %></td>
        <td><%= button_tag "", name: "delete", 'aria-label': t("views.destroy"), class: "archive-btn fa fa-trash"%></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to t(".add"), new_developer_path %>
