<% breadcrumb :developer, @developer %>

<h1>
  <%= @developer.company_name %>
</h1>

<ul>
  <li><%= link_to Division.model_name.human.pluralize, developer_divisions_path(@developer) %></li>
  <li><%= link_to Development.model_name.human.pluralize, developer_developments_path(@developer) %></li>
</ul>

<p>
  <strong><%= Developer.human_attribute_name("head_office_address") %></strong>
  <%= @developer.head_office_address %>
</p>

<p>
  <strong><%= Developer.human_attribute_name("city") %></strong>
  <%= @developer.city %>
</p>

<p>
  <strong><%= Developer.human_attribute_name("county") %></strong>
  <%= @developer.county %>
</p>

<p>
  <strong><%= Developer.human_attribute_name("postcode") %></strong>
  <%= @developer.postcode %>
</p>

<p>
  <strong><%= Developer.human_attribute_name("email") %></strong>
  <%= @developer.email %>
</p>

<p>
  <strong><%= Developer.human_attribute_name("contact_number") %></strong>
  <%= @developer.contact_number %>
</p>

<%= link_to t("views.edit"), edit_developer_path(@developer) %> |
<%= link_to t("views.back"), developers_path %>
