<div class="navbar">
  <label class="navbar-trigger-label" for="navbar-trigger">
    <%= fa_icon "bars" %>
  </label>
  <input id="navbar-trigger" type="checkbox">
  <nav class="navbar-menu">
    <% if current_user %>
      <%= navigation_link(root_path, "tachometer", t("dashboard.title"), "navbar-link") %>
      <%= navigation_link(developers_path, "vcard", Developer.model_name.human.pluralize, "navbar-link") %>
      <%= navigation_link(documents_path, "file", Document.model_name.human.pluralize, "navbar-link") %>

      <% unless current_user.owner? %>
        <%= navigation_link(users_path, "users", User.model_name.human.pluralize, "navbar-link") %>
      <% end %>

      <%= navigation_link(user_path(current_user), "user", t("profiles.title"), "navbar-link") %>

      <div class="navbar-item">
        <%= link_to destroy_user_session_path, method: :delete, class: "navbar-link" do %>
          <%= fa_icon "sign-out" %>
          <%= t("users.sign_out") %>
        <% end %>
      </div>
    <% end %>
  </nav>
</div>
