<div class="pagination right">
  <ul>
    <li class="<%= 'active' if params[:per] == "10" %>" ><%= link_to t("pagination.page_10"), per: 10 %></li>
    <li class="<%= 'active' if params[:per] == "25" %>"><%= link_to t("pagination.page_25"), per: 25 %></li>
    <li class="<%= 'active' if params[:per] == "50" %>"><%= link_to t("pagination.page_50"), per: 50 %></li>
    <li class="<%= 'active' if params[:per] == "100" %>"><%= link_to t("pagination.page_100"), per: 100 %></li>
  </ul>
</div>
