<%= simple_form_for([plot.development, plot]) do |f| %>
  <% if plot.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("views.need_fix") %><%= pluralize(plot.errors.count, "error") %></h2>

      <ul>
      <% plot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label Plot.human_attribute_name("prefix") %>
    <%= f.text_field :prefix %>
  </div>

  <div class="field">
    <%= f.label Plot.human_attribute_name("number")  %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label UnitType.model_name.human  %>
    <%= f.select :unit_type_id, plot.development.unit_types.pluck(:name, :id) %>
  </div>

  <br>

  <%= render 'documents_form', f: f %>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
