<h1><%= @development %>: <%= @plot.prefix %> <%= @plot.number %></h1>

<p>
  <strong><%= Plot.human_attribute_name("prefix") %></strong>
  <%= @plot.prefix %>
</p>

<p>
  <strong><%= Plot.human_attribute_name("number") %></strong>
  <%= @plot.number %>
</p>

<p>
  <strong><%= UnitType.model_name.human %></strong>
  <%= @plot.unit_type %>
</p>

<% @hide_images_edit_link = true %>
<%= render 'images', imageable: @plot.unit_type, edit_path: edit_development_plot_path(@development, @plot) %>

<br>

<%= render 'documents', documentable: @plot, edit_path: edit_development_plot_path(@development, @plot) %>

<br>

<h3><%= t("documents.all_docs") %></h3>
<table>
  <thead>
    <th><%= t("documents.for") %></th>
    <th><%= Document.human_attribute_name("title") %></th>
    <th><%= t("views.download") %></th>
  </thead>
  <tbody>
    <% if @all_documents.count < 1 %>
      <tr>
        <td colspan="3">
          <%= t("documents.no_docs") %>
        </td>
      </tr>
    <% end %>

    <% @all_documents.each do |document| %>
      <tr>
        <td>document documentable class name <%= document.documentable %></td>
        <td><%= document.title %></td>
        <td><a href="<%= document.file.url %>" target="_blank"><%= document.file %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("views.edit"), edit_development_plot_path(@development, @plot) %> |
<%= link_to t("views.back"), development_plots_path(@development) %>
