<%= simple_form_for(user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label User.human_attribute_name("email") %>
    <%= f.text_field :email %>

    <br>
    <%= f.label User.human_attribute_name("title") %>

    <br>
    <%= f.label t("folders.one") %>

    <br>

    <fieldset>
      <%= f.label User.human_attribute_name("role") %>
      <%= f.input :role, as: :select, collection: roles_collection, include_blank: false, label: false %>

    <br>
    <%= t("users.choose_scope") %>

    <br>

    <%= f.label Developer.model_name.human %>

    <%= f.association :developer,
        as: :select,
        collection: Developer.pluck(:company_name, :id),
        include_blank: true,
        label: false %>

    <%= f.label Division.model_name.human %>

    <%= f.association :division,
        as: :select,
        collection: Division.pluck(:division_name, :id),
        include_blank: true,
        label: false %>

    <%= f.label Development.model_name.human %>

    </fieldset>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
