<%= form_for([division.developer, division]) do |f| %>
  <% if division.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("views.need_fix") %><%= pluralize(division.errors.count, "error") %></h2>

      <ul>
      <% division.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label Division.human_attribute_name("division_name") %>
    <%= f.text_field :division_name %>
  </div>

  <div class="field">
    <%= f.label Division.human_attribute_name("address") %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label Division.human_attribute_name("city") %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label Division.human_attribute_name("county") %>
    <%= f.text_field :county %>
  </div>

  <div class="field">
    <%= f.label Division.human_attribute_name("postcode") %>
    <%= f.text_field :postcode %>
  </div>

  <div class="field">
    <%= f.label Division.human_attribute_name("email") %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label Division.human_attribute_name("contact_number") %>
    <%= f.text_field :contact_number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
