<h1>Editing <%= @developer %>, <%= @division %> Division</h1>

<%= render 'form', division: @division %>

<%= link_to 'Show', [@developer, @division] %> |
<%= link_to 'Back', developer_divisions_path(@developer) %>
