<%= simple_form_for([finish.room, finish], html: { multipart: true }) do |f| %>
  <% if finish.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("views.need_fix") %><%= pluralize(finish.errors.count, "error") %></h2>

      <ul>
      <% finish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label Document.human_attribute_name("name") %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label Document.human_attribute_name("category") %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label Image.model_name.human %>
    <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label Document.human_attribute_name("manuf") %>
  </div>

  <div class="field">
    <%= f.label Document.human_attribute_name("descr") %>
  </div>
  <br>

  <%= render 'documents_form', f: f %>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
