<h1>Editing <%= @room %>, <%= @finish %> <%= @finish.category %> Finish</h1>

<%= render 'form', finish: @finish %>

<%= link_to 'Show', [@room, @finish] %> |
<%= link_to 'Back', room_finishes_path(@room) %>
