<p id="notice"><%= notice %></p>

<h1><%= @room %> Finishes</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Name</th>
      <th>Category</th>
      <th>Thumbnail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finishes.each do |finish| %>
      <tr>
        <td><%= finish.room %></td>
        <td><%= finish.name %></td>
        <td><%= finish.category %></td>
        <td><%= image_tag(finish.picture.thumbnail.url) if finish.picture? %></td>
        <td><%= link_to 'Show', [@room, finish] %></td>
        <td><%= link_to 'Edit', edit_room_finish_path(@room, finish) %></td>
        <td><%= link_to 'Destroy', [@room, finish], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finish', new_room_finish_path(@room) %> |
<%= link_to 'Rooms', development_rooms_path(@development) %> |
<%= link_to 'Development', development_path(@development) %>
