<h1><%= Finish.model_name.human.pluralize %></h1>

<table>
  <thead>
    <tr>
      <th><%= Finish.model_name.human %></th>
      <th><%= Finish.human_attribute_name("name") %></th>
      <th><%= Finish.human_attribute_name("category") %></th>
      <th><%= t("views.thumbnail") %></th>
      <th colspan="3"><%= t("views.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @finishes.each do |finish| %>
      <tr>
        <td><%= finish.room %></td>
        <td><%= finish.name %></td>
        <td><%= finish.category %></td>
        <td><%= image_tag(finish.picture.thumbnail.url) if finish.picture? %></td>
        <td><%= link_to t("views.show"), [@room, finish] %></td>
        <td><%= link_to t("views.edit"), edit_room_finish_path(@room, finish) %></td>
        <td><%= link_to t("views.destroy"), [@room, finish], method: :delete, data: { confirm: t("views.sure") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("views.add_type", type: Finish.model_name.human), new_room_finish_path(@room) %> |
<%= link_to Room.model_name.human.pluralize, development_rooms_path(@development) %>
