<h1>
  <%= @room %>, <%= @finish %> <%= @finish.category %>
</h1>

<p>
  <strong><%= Finish.human_attribute_name("name") %></strong>
  <%= @finish.name %>
</p>

<p>
  <strong><%= Document.human_attribute_name("category") %></strong>
  <%= @finish.category %>
</p>

<p>
  <strong><%= Image.model_name.human %></strong>
  <%= image_tag(@finish.picture.thumbnail.url) if @finish.picture? %>
</p>

<br>

<%= render 'documents', documentable: @finish, edit_path: edit_room_finish_path(@room, @finish) %>

<br>

<%= link_to t("views.edit"), edit_room_finish_path(@room, @finish) %> |
<%= link_to t("views.back"), room_finishes_path(@room) %>
