<table>
  <thead>
    <tr>
      <th><%= Developer.human_attribute_name("company_name") %></th>
      <th><%= Developer.model_name.human %></th>
      <th><%= Developer.human_attribute_name("head_office_address") %></th>
      <th><%= Developer.human_attribute_name("city") %></th>
      <th><%= Developer.human_attribute_name("county") %></th>
      <th><%= Developer.human_attribute_name("postcode") %></th>
      <th><%= Developer.human_attribute_name("email") %></th>
      <th><%= Developer.human_attribute_name("contact_number") %></th>
      <th colspan="7"><%= t("views.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% developments.each do |development| %>
      <tr>
        <td><%= development.development_name %></td>
        <td><%= development.developer %></td>
        <td><%= development.office_address %></td>
        <td><%= development.city %></td>
        <td><%= development.county %></td>
        <td><%= development.postcode %></td>
        <td><%= development.email %></td>
        <td><%= development.contact_number %></td>
        <td><%= link_to_unless cannot?(:read, Phase), Phase.model_name.human.pluralize, development_phases_path(development) %></td>
        <td><%= link_to_unless cannot?(:read, UnitType), UnitType.model_name.human.pluralize, development_unit_types_path(development) %></td>
        <td><%= link_to_unless cannot?(:read, Room), Room.model_name.human.pluralize, development_rooms_path(development) %></td>
        <td><%= link_to_unless cannot?(:read, Plot), Plot.model_name.human.pluralize, development_plots_path(development) %></td>
        <td><%= link_to_unless cannot?(:read, development), t("views.show"), polymorphic_url([parent, development]) %></td>
        <td><%= link_to_unless cannot?(:edit, development), t("views.edit"), edit_polymorphic_url([parent, development]) %></td>
        <td><%= link_to_unless cannot?(:destroy, development), t("views.destroy"), polymorphic_url([parent, development]), method: :delete, data: { confirm: t("views.sure") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
