<p id="notice"><%= notice %></p>

<h1>Developments</h1>

<table>
  <thead>
    <tr>
      <th>Development name</th>
      <th>Developer</th>
      <th>Office address</th>
      <th>City</th>
      <th>County</th>
      <th>Postcode</th>
      <th>Email</th>
      <th>Contact number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developments.each do |development| %>
      <tr>
        <td><%= development.development_name %></td>
        <td><%= development.developer %></td>
        <td><%= development.office_address %></td>
        <td><%= development.city %></td>
        <td><%= development.county %></td>
        <td><%= development.postcode %></td>
        <td><%= development.email %></td>
        <td><%= development.contact_number %></td>
        <td><%= link_to 'Show', development %></td>
        <td><%= link_to 'Edit', edit_development_path(development) %></td>
        <td><%= link_to 'Destroy', development, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Development', new_development_path %>
