<h1><%= t("views.edit_name", name: @document.title) %></h1>

<%= render 'form', document: @document %>

<br>

<%= link_to t("views.destroy"), @document, method: :delete, data: { confirm: t("views.sure") } %> |
<%= link_to t("views.show"), @document %> |
<%= link_to t("views.back"), documents_path %>
