<% breadcrumb :document, @document %>

<p>
  <%= @document.title %>
</p>

<p>
  <strong>File:</strong>
  <%= render @document %>
</p>

<p>
  <strong>Resource:</strong>
  <%= render 'resource', resource: @document.documentable %>
</p>

<p>
  <%= Document.human_attribute_name("title") %>
</p>
<p>
  <%= t("documents.file_name") %>
</p>
<p>
  <%= t("folders.one") %>
</p>
<p>

  <%= t("documents.size") %>
</p>
<p>

  <%= t("documents.loaded_by") %>
</p>
<p>
  <%= t("documents.loaded_date") %>
</p>


<%= link_to t("views.edit"), edit_document_path(@document) %> |
<%= link_to t("views.back"), documents_path %>
