<%= simple_form_for([@development, unit_type]) do |f| %>
  <% if unit_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit_type.errors.count, "error") %> prohibited this unit_type from being saved:</h2>

      <ul>
      <% unit_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.association :phases, collection: @development.phases, as: :check_boxes %>
  </div>

  <br>

  <%= render 'documents_form', f: f %>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
