<%= simple_form_for([unit_type.development, unit_type]) do |f| %>
  <% if unit_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("views.need_fix") %><%= pluralize(unit_type.errors.count, "error") %></h2>

      <ul>
      <% unit_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label UnitType.human_attribute_name("name") %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.association :phases, collection: unit_type.development.phases, as: :check_boxes %>
  </div>

  <br>

  <%= render 'documents_form', f: f %>

  <br>

  <%= render 'images_form', f: f %>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
