<h1>Editing <%= @development %>, <%= @unit_type %> Unit Type</h1>

<%= render 'form', unit_type: @unit_type %>

<%= link_to 'Show', [@development, @unit_type] %> |
<%= link_to 'Back', development_unit_types_path(@development) %>
