<h1><%= @development %>: <%= UnitType.model_name.human.pluralize %></h1>

<table>
  <thead>
    <tr>
      <th> <%= UnitType.model_name.human.pluralize %></th>
      <th><%= Phase.model_name.human.pluralize %></th>
      <th><%= t("images.title") %></th>
      <th colspan="3"><%= t("views.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_types.each do |unit_type| %>
      <tr>
        <td><%= unit_type.name %></td>
        <td><%= unit_type.phases.pluck(:name).to_sentence %></td>
        <td>
          <% unit_type.images.each do |image| %>
            <%= render 'image', image: image %>
          <% end %>
        </td>
        <td><%= link_to t("views.show"), [@development, unit_type] %></td>
        <td><%= link_to t("views.edit"), edit_development_unit_type_path(@development, unit_type) %></td>
        <td><%= link_to t("views.destroy"), [@development, unit_type], method: :delete, data: { confirm: t("views.sure") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("views.add_type", type: UnitType.model_name.human), new_development_unit_type_path(@development) %>
