<p id="notice"><%= notice %></p>

<h1>
  <%= @development %>:
  <%= @unit_type.name %>
  Unit Type
</h1>

<p>
  <strong>Phases:</strong>
  <%= @unit_type.phases.pluck(:name).to_sentence %>
</p>

<%= link_to 'Edit', edit_development_unit_type_path(@development, @unit_type) %> |
<%= link_to 'Back', development_unit_types_path(@development) %>
