<p id="notice"><%= notice %></p>

<h1>
  <%= @development %>:
  <%= @unit_type.name %>
  Unit Type
</h1>

<p>
  <strong>Phases:</strong>
  <%= @unit_type.phases.pluck(:name).to_sentence %>
</p>

<br>

<h3>Rooms</h3>
<%= render 'rooms/rooms', rooms: @unit_type.rooms %>

<br>

<%= render 'documents', documentable: @unit_type, edit_path: edit_development_unit_type_path(@development) %>
<br>

<%= render 'images', imageable: @unit_type, edit_path: edit_development_unit_type_path(@development) %>
<br>

<%= link_to 'Edit', edit_development_unit_type_path(@development, @unit_type) %>
