<%= simple_form_for([room.development, room]) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("views.need_fix") %><%= pluralize(room.errors.count, "error") %></h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label Room.human_attribute_name("name") %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label UnitType.model_name.human %>
    <%= f.select :unit_type_id, room.development.unit_types.pluck(:name, :id) %>
  </div>

  <br>

  <%= render 'documents_form', f: f %>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
