<table>
  <thead>
    <tr>
      <th><%= Room.human_attribute_name("name") %></th>
      <th><%= UnitType.model_name.human %></th>
      <th><%= t("views.links") %></th>
      <th colspan="3"><%= t("views.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% if rooms.count < 1 %>
      <tr><td colspan="3"><%= t("rooms.no_rooms") %></td></tr>
    <% end %>

    <% rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.unit_type %></td>
        <td><%= link_to Finish.model_name.human.pluralize, room_finishes_path(room) %></td>
        <td><%= link_to t("views.show"), [room.development, room] %></td>
        <td><%= link_to t("views.edit"), edit_development_room_path(room.development, room) %></td>
        <td><%= link_to t("views.destroy"), [room.development, room], method: :delete, data: { confirm: t("views.sure") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
