<p id="notice"><%= notice %></p>

<h1><%= @development %> Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit type</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.unit_type %></td>
        <td><%= link_to 'Finishes', room_finishes_path(room) %></td>
        <td><%= link_to 'Show', [@development, room] %></td>
        <td><%= link_to 'Edit', edit_development_room_path(@development, room) %></td>
        <td><%= link_to 'Destroy', [@development, room], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_development_room_path(@development) %> |
<%= link_to 'Development', development_path(@development) %>
