<p id="notice"><%= notice %></p>

<h1><%= @development %> Rooms</h1>

<%= render 'rooms', rooms: @rooms %>
<br>

<%= link_to 'New Room', new_development_room_path(@development) %> |
<%= link_to 'Development', development_path(@development) %>
