<h1>
  <%= @development %>
  <%= @room.name %>
  Room
</h1>

<ul>
  <li><%= link_to 'Finishes', room_finishes_path(@room) %></li>
</ul>

<p>
  <strong>Unit type:</strong>
  <%= @room.unit_type %>
</p>

<br>

<%= render 'documents', documentable: @room, edit_path: edit_development_room_path(@development, @room) %>

<br>


<%= link_to 'Edit', edit_development_room_path(@development, @room) %> |
<%= link_to 'Back', development_rooms_path(@development) %> |
<%= link_to 'Unit Type', development_unit_type_path(@development, @room.unit_type) %>

