<p id="notice"><%= notice %></p>

<h1>
  <%= @development %>
  <%= @room.name %>
  Room
</h1>

<ul>
  <li><%= link_to 'Finishes', room_finishes_path(@room) %></li>
</ul>

<p>
  <strong>Unit type:</strong>
  <%= @room.unit_type %>
</p>

<%= link_to 'Edit', edit_development_room_path(@development, @room) %> |
<%= link_to 'Back', development_rooms_path(@development) %>
