<h3>Documents</h3>
<table>
  <thead>
    <th><%= Document.human_attribute_name("doc_name") %></th>
    <th><%= t("views.download") %></th>
  </thead>
  <tbody>
    <% if documentable.documents.count < 1 %>
      <tr>
        <td colspan="2">
          <%= link_to t("views.add"), edit_path %>
        </td>
      </tr>
    <% end %>

    <% documentable.documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><a href="<%= document.file.url %>" target="_blank"><%= document.file %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
