<% unless f.object.new_record? %>
  <div class="field">
    <h3><%= Document.model_name.human.pluralize %></h3>
    <div id="documents">
      <%= f.simple_fields_for :documents do |document| %>
        <%= render 'document_fields', f: document %>
      <% end %>

      <div class="links">
        <%= link_to_add_association t("views.add"), f, :documents %>
      </div>
    </div>
  </div>

  <br>

<% else %>
  <h3><%= Document.model_name.human.pluralize %></h3>
  <p><%= t("documents.not_yet") %></p>
<% end %>
