<div class="nested-fields">
  <% if f.object && f.object.file? %>
    <%= render 'image', image: f.object %>
  <% end %>

  <br />
  <%= f.label t("images.img_name") %>
  <%= f.text_field :title %>

  <%= f.input :file, label: false %>

  <%= link_to_remove_association t("views.remove"), f %>
</div>
