<h1>Editing <%= @development %>, <%= @phase.name %> Phase</h1>

<%= render 'form', phase: @phase %>

<%= link_to 'Show', [@development, @phase] %> |
<%= link_to 'Back', development_phases_path(@development) %>
