<h1>
  <%= @development %>: <%= @phase.name %>
</h1>

<p>
  <strong>Development:</strong>
  <%= @phase.development %>
</p>

<%= link_to t("views.edit"), edit_development_phase_path(@development, @phase) %> |
<%= link_to t("views.back"), development_phases_path(@development) %>
