<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "file" %>
    <%= t("dashboard.section.documents.title") %>
  </h3>
  <div class="section-actions">
    <button class="btn-primary">
      <%= fa_icon "plus" %>
      <%= fa_icon "file" %>
      <span class="btn-label">
        <%= t("dashboard.section.documents.new") %>
      </span>
    </button>
  </div>
</div>
<div class="record-list">
  <ul class="documents">
    <li class="record-list-item unread">
      <div class="record-list-item-actions">
        <button>
          <%= fa_icon "eye" %>
        </button>
      </div>
      <div class="record-list-item-content">
        <a href="" class="document-title">
          <span>Zannusi Washing Machine 5000</span>
        </a>
        <a href=""  class="document-category">
          <span>
            <%= fa_icon "folder" %>
            Unassigned
          </span>
        </a>
      </div>
    </li>
    <li class="record-list-item">
      <div class="record-list-item-actions">
        <button>
          <%= fa_icon "eye" %>
        </button>
      </div>
      <div class="record-list-item-content">
        <a href="" class="document-title">
          <span>Zannusi Washing Machine 5000</span>
        </a>
        <a href=""  class="document-category">
          <span>
            <%= fa_icon "folder" %>
            Insurance and Warranty
          </span>
        </a>
      </div>
    </li>
    <li class="record-list-item unassigned">
      <div class="record-list-item-actions">
        <button>
          <%= fa_icon "eye" %>
        </button>
      </div>
      <div class="record-list-item-content">
        <a href="" class="document-title">
          <span>Zannusi Washing Machine 5000</span>
        </a>
        <a href=""  class="document-category">
          <span>
            <%= fa_icon "folder" %>
            Insurance and Warranty
          </span>
        </a>
      </div>
    </li>
    <li class="record-list-item">
      <div class="record-list-item-actions">
        <button>
          <%= fa_icon "eye" %>
        </button>
      </div>
      <div class="record-list-item-content">
        <a href="" class="document-title">
          <span>Zannusi Washing Machine 5000</span>
        </a>
        <a href=""  class="document-category">
          <span>
            <%= fa_icon "folder" %>
            Insurance and Warranty
          </span>
        </a>
      </div>
    </li>
  </ul>
</div>
