<!DOCTYPE html>
<html>
  <head>
    <title>HoozziDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-hoozzi">
      <div class="nav-member">
        <%= image_tag 'logo.png' %>
      </div>
      <div class="nav-member">
        <nav class="nav-menu">
          <%= link_to 'Dashboard', root_path, class: "dash-link" %>
          <%= link_to 'Developers', developers_path, class: "dash-link"%>
          <%= link_to 'Developments', developments_path, class: "dash-link" %>
        </nav>
      </div>
    </div>


    <%= yield %>
  </body>
</html>
