<!DOCTYPE html>
<html>
  <%= render partial: 'layouts/head', locals: { title: t(".title") } %>
  <body>
    <div class="outer-container">
      <div class="content-container">
        <div class="header-container">
          <%= render 'components/user/header' %>
        </div>

        <div class="navigation-container">
          <%= render partial: 'components/navbar_item', locals: {
                     path: root_path,
                     link_class: 'active',
                     icon: 'home',
                     label: t(".nav.my_home")
                   } %>
          </div>
        </div>

        <div class="main-container">
            <%= render "components/flashes" %>
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
